In [ ]:
#Data Cleaning With Pandas
# -*- coding: utf-8 -*-

#%% Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#%% Importing Data
flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()
#%% Pandas Data Filtering/Sorting Question Answering
#use flights_data

#Question 1 How many flights were there from JFK to SLC? Int
q_1 
#Question 2 How many airlines fly to SLC? Should be int
q_2 
#Question 3 What is the average arrival delay for flights to RDU? float
q_3
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
q_4 
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
q_5 
#Question 6 Which date has the largest average arrival delay? pd slice with date and float
q_6 
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime
q_7
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
q_8 
#%% Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int
q_9 
#Question 10 What was the mean for humidity in February? Float
q_10
#Question 11 What was the std for humidity in February? Float
# q_11

In [1]:
#install pandas
!pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
#Determine what files are in the ZIP file
import zipfile

zip_file_path = "data.zip"

# List all files in the ZIP archive
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    print("Files in ZIP archive:", zip_ref.namelist())

Files in ZIP archive: ['flights.csv', 'weather.csv']

In [3]:
#Get "flights" out of the Zip file
csv_file_name = "flights.csv"  # Use the exact name from the ZIP archive
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extract(csv_file_name)

In [4]:
#Get weather out of the Zip file
csv_file_name = "weather.csv"  # Use the exact name from the ZIP archive
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extract(csv_file_name)

In [5]:
#Import data
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [6]:
#flights table
df = pd.read_csv('flights.csv')
df

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,336772,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3393,JFK,DCA,NaN,213,NaN,NaN
336772,336773,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3525,LGA,SYR,NaN,198,NaN,NaN
336773,336774,2013,9,30,NaN,NaN,NaN,NaN,MQ,N535MQ,3461,LGA,BNA,NaN,764,NaN,NaN
336774,336775,2013,9,30,NaN,NaN,NaN,NaN,MQ,N511MQ,3572,LGA,CLE,NaN,419,NaN,NaN
336775,336776,2013,9,30,NaN,NaN,NaN,NaN,MQ,N839MQ,3531,LGA,RDU,NaN,431,NaN,NaN

In [7]:
#weather table
dw = pd.read_csv('weather.csv')
dw

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,8715,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,NaN,4.0
8715,8716,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,8717,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,8718,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,8719,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

In [8]:
#Question 1 How many flights were there from JFK to SLC? Int
jfk_slc = df[(df['origin'] == 'JFK') & (df['dest'] == 'SLC')]
q_one = len(jfk_slc)
print(f"Number of flights ftom JFK to SLC: {q_one}")

Number of flights ftom JFK to SLC: 2113

In [9]:
#Question 2 How many airlines fly to SLC? Should be int
q_two = df[df['dest'] == 'SLC']['carrier'].nunique()
print(f"The number of Airlines flying to SLC: {q_two}")

The number of Airlines flying to SLC: 2

In [10]:
#Question 3 What is the average arrival delay for flights to RDU? float
q_three = df[df['dest'] == 'RDU']['arr_delay'].mean()
print(f"Average arrival delay for flights to RDU: {q_three:.2f} minutes")

Average arrival delay for flights to RDU: 10.05 minutes

In [11]:
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
flights_sea = df[df['dest'] == 'SEA']

nyc_to_sea = flights_sea[flights_sea['origin'].isin(['LGA', 'JFK'])]

q_four = len(nyc_to_sea) / len(flights_sea)
print(f"Proportion of flights to SEA from LGA and JFK: {q_four:.2f}")

Proportion of flights to SEA from LGA and JFK: 0.53

In [12]:
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)

#create a new column?
df['date'] = pd.to_datetime(df[['year', 'month', 'day']]).dt.strftime('%Y/%m/%d')


avg_delay_date = df.groupby('date')['dep_delay'].mean()

q_five_delay_date = avg_delay_date.idxmax()
q_five_delay = avg_delay_date.max()

print(f"The date with the largest average departure delay is {q_five_delay_date} with an average delay of {q_five_delay:.2f} minutes.")

The date with the largest average departure delay is 2013/03/08 with an average delay of 83.54 minutes.

In [13]:
#Question 6 Which date has the largest average arrival delay? pd slice with date and float
import pandas as pd

df['date'] = pd.to_datetime(df[['year', 'month', 'day']]).dt.strftime('%Y/%m/%d')

avg_delay_date2 = df.groupby('date')['arr_delay'].mean()

q_six_delay_date = avg_delay_date2.idxmax()
q_six_arr_delay = avg_delay_date2.max()

print(f"The date with the largest average arrival delay is {q_six_delay_date} with an average delay of {q_six_arr_delay:.2f} minutes.")

The date with the largest average arrival delay is 2013/03/08 with an average delay of 85.86 minutes.

In [14]:
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime

flights_2013 = df[(df['origin'].isin(['LGA', 'JFK'])) & (df['year'] == 2013)]

flights_2013['speed'] = flights_2013['distance'] / flights_2013['air_time']

fastest_flight = flights_2013.loc[flights_2013['speed'].idxmax(), ['tailnum', 'speed']]

print(f"The fastest flight departing from LGA or JFK in 2013 was {fastest_flight['tailnum']} with a speed of {fastest_flight['speed']:.2f} miles per minute.")

The fastest flight departing from LGA or JFK in 2013 was N666DN with a speed of 11.72 miles per minute.

/var/folders/4k/j4g2lqw57x957sw_c6pdfy4w0000gn/T/ipykernel_72757/2550304843.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights_2013['speed'] = flights_2013['distance'] / flights_2013['air_time']

In [15]:
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans

#Replace NaN values with 0s in the weather DataFrame
weather_nan = dw.fillna(0)

#Verify there are no NaNs
print(weather_nan.isnull().sum().sum())

0

In [16]:
#Use weather_data_np
#Question 9 How many observations were made in Feburary?Int

month = weather_data_np[:, 3]
print(np.count_nonzero(month == 2.0))

671

In [17]:
#Question 10 What was the mean for humidity in February? Float
humidity = weather_data_np[:,(3,8)]
mask = (humidity[:, 0] == 2.0)
feb = humidity[mask, :]
average_humidity = np.mean(feb[:, 1])
print(average_humidity)

62.918152011922515

In [18]:
#Question 11 What was the std for humidity in February? Float
humidity = weather_data_np[:,(3,8)]
mask = (humidity[:, 0] == 2.0)
feb = humidity[mask, :]
std_humidity = np.std(feb[:, 1])
print(std_humidity)

20.33690087674334